<%= form_for(@constituency) do |f| %>
  <% if @constituency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@constituency.errors.count, "error") %> prohibited this constituency from being saved:</h2>

      <ul>
      <% @constituency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :voters %><br>
    <%= f.number_field :voters %>
  </div>
  <div class="field">
    <%= f.label :voivodeship_id %><br>
    <%= f.collection_select(:voivodeship_id, Voivodeship.all, :id, :name) %>
  </div>
  <% if current_user.constituency_id == @constituency.id and !@constituency.voivodeship.blank? %>
    <% @constituency.voivodeship.comittees.each do |comittee| %>
      <%= f.fields_for :votes do |v| %>
        <%= v.label comittee.name %>
        <%= v.hidden_field :comittee_id, :value => comittee.id %>
        <%= v.hidden_field :constituency_id, :value => @constituency.id %>
        <%= comittee.id %>
        <%= @constituency.id %>
        <%= v.number_field :quantity %>

      <% end %>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
