<p id="notice"><%= notice %></p>

<h1>Listing Comittees</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @comittees.each do |comittee| %>
    <tr>
      <td><%= comittee.name %></td>
      <td><%= link_to 'Show', comittee %></td>
          <% if can? :update, comittee %>
            <td><%= link_to 'Edit', edit_comittee_path(comittee) %></td>
          <% end %>
          <% if can? :destroy, comittee %>
            <td><%= link_to 'Destroy', comittee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
        <% end %>
      </div>
      </div>
    <% end %>


<br>
<% if can? :create, @comittees %>
  <%= link_to 'New Comittee', new_comittee_path %>
<% end %>