<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Voivodeship",   voivodeships_path %></li>
        <li><%= link_to "Constituency",   constituencies_path %></li>
        <li><%= link_to "Comittee", comittees_path %></li>
        <li><% if user_signed_in? %>
			  Signed in as <%= current_user.email %>. Not you?
			  <%= link_to "Edit profile", edit_user_registration_path %>
			  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<% else %>
			  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
			<% end %>
 
			<% flash.each do |name, msg| %>
			  <%= content_tag :div, msg, id: "flash_#{name}" %>
			<% end %></li>
      </ul>
    </nav>
  </div>
</header>
